$gray: #eee;
$pink: #ff078;

md-content.md-default-theme {
  background-color: $gray;
}
md-card {
  background-color: #fff;
  h2:first-of-type {
    margin-top: 0;
  }
}
md-toolbar {
  .md-button.md-default-theme {
    border-radius: 99%; // round toolbar buttons
  }
}

md-sidenav {
  min-width: 200px !important;
  width: 85vw !important;
  max-width: 400px !important;
  position: relative;
  &.md-locked-open, &.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 85vw !important;
    max-width: 400px !important;
    position: relative;
  }
}

md-toast.md-success-toast-theme {
  .md-toast-content {
    background-color: green;
  }
}

.md-button {
  line-height: 0px; 
  min-width: auto;   
}

.md-button.md-fab {
  line-height: 15px;
}

h2 {
  font-weight: 400;
}
.md-toolbar-tools-bottom {
  font-size: small;
  & :last-child {
    opacity: 0.8;
  }
}
md-toolbar:not(.md-hue-1),
.md-fab {
  fill: #fff;
}
md-sidenav {
  fill: #737373;
  ng-md-icon {
    position: relative;
    top: 5px; // adjust for svg viewbox
  }
}

.upload-progress {
  clear: both;
  font-size: 14px;
  margin: 10px 0;
  opacity: 0;
  padding: 3px;
  transition: opacity 5s linear;
  &.loading {
    opacity: 1.0;
  }
  .percent {
    background-color: $pink;
    width: 0;
    height: auto;
  }
}



md-input-container .md-input {
  margin-left: 20px;
  margin-top: 30px;
}

