extends layout

block content
  md-sidenav.md-sidenav-left.md-whiteframe-z2(layout='column', md-component-id='left',  md-disable-backdrop, md-whiteframe='4')
    md-toolbar.md-hue-2
      h1.md-toolbar-tools All Uploaded Files
    md-list
      md-item(ng-repeat='item in menu')
        a
          md-item-content(md-ink-ripple='', layout='row', layout-align='start center')
            .inset
              ng-md-icon(icon='{{item.icon}}')
            .inset
              | {{item.title}}
            .inset
              md-button.md-raised.md-primary(id="{{item.title}}Get", ng-click="getIndex(item.title); showCreateIndexMessage('get')")
               | {{item.getindex}}
              md-button.md-raised.md-warn(id="{{item.title}}Create", ng-click="createIndex('uploads/' + item.title); showGetIndexMessage('create')")
               | {{item.createindex}}
            p {{item.error || item.success}}
    md-content(layout-margin)
      md-button.md-accent(ng-click='toggleLeft()')
        | Close this Sidenav
  div(layout="column", layout-fill, role="main").relative
    md-button.md-fab.md-fab-bottom-right(aria-label='Upload', ng-click='showUploadBox($event)')
      ng-md-icon(icon='file_upload')
    md-toolbar(ng-show='!showSearch')
      .md-toolbar-tools
        h1
          | Inverted Index
        span(flex)
        md-button(aria-label='Search', ng-click='showSearch = !showSearch')
          ng-md-icon(icon='search')
        md-button(aria-label='Open Sidebar', ng-click='toggleLeft()')
          ng-md-icon(icon='more_vert')
      md-tabs.md-primary.ng-hide(md-stretch-tabs='', md-selected='data.selectedIndex', md-center-tabs="true")
        md-tab#tab1(aria-controls='tab1-content')
          | Index
    md-toolbar.md-hue-1(ng-show='showSearch')
      .md-toolbar-tools
        md-button(ng-click='showSearch = !showSearch', aria-label='Back')
          ng-md-icon(icon='arrow_back')
        h3(flex='10')
          | Back
        md-input-container(md-theme='input', flex='')
          label  
          input(ng-model='search.who', placeholder='search indexes')
        md-button(aria-label='Search', ng-click='showSearch = !showSearch')
          ng-md-icon(icon='search')
        md-button(aria-label='Open Settings', ng-click='toggleLeft()')
          ng-md-icon(icon='more_vert')
    md-content(flex='', md-scroll-y='')
      ui-view(layout='column', layout-fill='', layout-padding='')
        .inset(hide-sm='')
        ng-switch.tabpanel-container(on='data.selectedIndex')
          #tab1-content(role='tabpanel', aria-labelledby='tab1', ng-switch-when='0', md-swipe-left='next()', md-swipe-right='previous()', layout='row', layout-align='center center')
            md-card(flex-gt-sm='90', flex-gt-md='80')
              md-card-content
                h2(style='text-align: center') Index Table
  div(style='visibility: hidden')
    #myDialog.md-dialog-container
      md-dialog(aria-label="Upload Form")
        md-toolbar
          .md-toolbar-tools
            h2 JSON FILE UPLOADER
            span(flex="")
            md-button.md-icon-button(ng-click="closeDialog()")
              ng-md-icon(icon="close", aria-label="Close dialog")
        md-dialog-content(style="max-width:800px;max-height:810px; ")
          md-content.md-padding(layout="column")
            p(style="text-align: center")
              md-button.md-raised.md-primary(style="width:200px", ng-click="select()") 
                | SELECT FILES 
            p#upload-done(style="display: none; color: green; text-align: center") upload complete
            p#upload-failed(style="display: none; color: red; text-align: center") upload failed. file exists already or invalid file.
            md-list#selected-files
            input#upload-input.ng-hide(type="file", ,="", accept=".json", name="uploads[]", multiple="multiple" onchange="angular.element(this).scope().fileSelect()", ngf-pattern='application/json')
            md-progress-linear(md-mode="determinate", value="{{+ progress * 100}}")
        md-dialog-actions(layout="row")
          md-button(ng-click="closeDialog()")
            | CLOSE THIS
          span(flex)
          md-button#upload.md-primary(md-no-ink, ng-click="upload()", style="margin-right:20px;")
            | UPLOAD JSON FILE(S)

