doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content
    script(src='https://code.jquery.com/jquery-1.12.4.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js')
    script(src='/js/front.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-animate.min.js')
    script('https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-aria.min.js')

